# Исключение виртуального окружения
.venv/
venv/

# Исключение файлов и директорий, специфичных для редакторов
.idea/
.vscode/
*.pyc
__pycache__/

# Исключение файлов конфигураций и кешей

.pytest_cache/
.mypy_cache/
.DS_Store

# Исключение логов и временных файлов
*.log
*.tmp
**/migrations/*
!**/migrations/__init__.py

